h1, h4, p, label {
    color: black;
}

.coaches-section {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
}

.coach-picture {
    border-radius: 50%;
    width: 150px;
}

.coach-bio {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14;
    font-weight: lighter;
}