h1, h4, h5, p, label {
    color: black;
}

.coaches-section {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
}

.profile-row {
    margin-top: 50px;
}

.coach-picture {
    border-radius: 50%;
    width: 150px;
}

.bio-head {
    float: left;
}

.bio {
    clear: both; 
    float: left;
}

@media(max-width:767px) {
    .profile-row {
        margin-top: 0px;
    }

    .coach-picture {
        margin-top: 50px;
    }

    .first-coach {
        margin-top: 10px;
    }
}

.coach-bio {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14;
    font-weight: lighter;
}

.coach-button {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.coach-modal {
    text-align: left;
}

.coach-title-modal {
    display: inline;
    float: left;
    padding-top: 5px;
    color: black;
}

.coach-cred {
    clear: both;
    display: block; 
    float: left;
    font-weight: lighter;
}

@media(max-width:767px) {
    .coach-picture-modal {
        display: block;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .coach-title-modal {
        display: block;
        float: none;
        text-align: center;
        padding-top: 5px;
        color: black;
    }

    .coach-cred {
        clear: both;
        display: block; 
        text-align: center;
        float: none;
        font-weight: lighter;
    }
}

.custom-modal-footer {
    border: none;
    margin-top: 50px;
}

.modal-send-button {
    display: inline;
    float: right;
}

.close-button {
    clear: both;
    display: inline;
    color: black;
    margin-right: 5px;
}