h1, label {
    color: black;
}

.request-section {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    color: #f8f8f8;
}

.request-form {
    display: block;
}

.request-instructions {
    margin-top: 10px;
    color: black;
}